.section_map{
    display: block;
}

#map_head{
    height: 600px;
    margin-top: -53px;
}

@media(min-width: 1280px){
    #map_head{
        margin-top: -47.5px;
    }
}

@media(min-width: 1140px) and (max-width: 1279px){
    #map_head{
        margin-top: -40px;
    }
}

@media(min-width: 1024px) and (max-width: 1139px){
    #map_head{
        margin-top: -45px;
    }
}

@media(min-width: 320px) and (max-width: 1023px){
    #map_head{
        margin-top: 0px;
    }
}

#map{
    position: absolute;
    overflow: hidden;
}

.section_properties_search{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;
    max-width: 1440px;
    margin: 0 auto;
}

@media (min-width: 1280px){
    .section_properties_search {
        flex-wrap: nowrap;
        padding-top: 60px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width: 1140px) and (max-width: 1279px){
    .section_properties_search {
        flex-wrap: nowrap;
        padding-top: 60px;
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media (min-width: 1024px){
    .section_properties_search {
        flex-wrap: nowrap;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .section_properties_search {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    .section_properties_search {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.page_list_properties{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

@media (min-width: 1280px){
    .page_list_properties {
        width: 70%;
        padding-bottom: 80px;
        padding-right: 30px;
    }
}

@media (min-width: 1140px) and (max-width: 1279px){
    .page_list_properties {
        padding-bottom: 80px;
        padding-right: 30px;
        width: 73%;
    }
}

.list_properties_head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0 0 20px;
}

@media (min-width: 768px){
    .list_properties_head {
        flex-direction: row;
        align-items: center;
        padding: 0 0 40px;
    }
}

.list_properties_controls{
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    padding: 0 0 10px;
}

@media (min-width: 768px){
    .list_properties_controls {
        justify-content: flex-end;
        width: initial;
        padding-bottom: 0;
        flex-direction: row;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    .list_properties_controls {
        justify-content: space-between;
        width: 100%;
    }
}

.sort_controls{
    position: relative;
    box-shadow: 0 0 20px #dddddd;
}

.page_listing{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.list_card{
    display: block;
    width: 100%;
    padding: 0 0 20px 0;
    margin: 13px auto 0;
}

@media (min-width: 768px){
    .list_card {
        max-width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .list_card {
        max-width: 350px;
    }
}

.list_card_wrap{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 150px;
    box-shadow: 0 0 20px #dddddd;
}

@media (min-width: 1280px){
    .list_card_wrap {
        min-height: 190px;
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 1279px){
    .list_card_wrap {
        flex-direction: row;
        min-height: 170px;
    }
}

.list_card_wrap .list_card_picture{
    position: relative;
    margin: 0;
    width: 100%;
}

@media (min-width: 768px){
    .list_card_wrap .list_card_picture {
        height: initial;
        width: 30%;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    .list_card_wrap .list_card_picture {
        height: 250px;
    }
}

@media (min-width: 320px) and (max-width: 479px){
    .list_card_wrap .list_card_picture {
        height: 200px;
    }
}

.list_card_wrap .list_card_picture .figure_property{
    display: block;
    width: 100%;
    height: 100%;
}

.list_card_wrap .list_card_picture .figure_property::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0, .65));
}

.list_card_wrap .list_card_picture .figure_property a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post_picture{
    display: block;
    width: 100%;
    height: 100%;
}

.picture_overlay{
    background: rgba(178, 1, 54, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.overlay_content{
    top: 80%;
    position: absolute;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    transition: all .3s ease-in-out;
}

.overlay_content a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 10px 20px;
    line-height: 1.5;
    transition: .2s all linear;
    text-decoration: none;
}

.list_card_details_wrap{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 25px;
    background: #fff;
    text-align: left;
}

@media (min-width: 768px){
    .list_card_details_wrap {
        flex-direction: row;
        width: 70%;
    }
}

.list_card_details{
    width: 100%;
    padding: 0;
    border-bottom: 1px solid rgba(128,128,128,.2);
}

@media (min-width: 1140px){
    .list_card_details {
        padding: 0 20px 0 0;
        width: 65%;
        border-right: 1px solid rgba(128,128,128,.2);
        border-bottom: none;
    }
}

@media (min-width: 1024px) and (max-width: 1139px) {
    .list_card_details {
        padding: 0 10px 0 0;
        width: 65%;
        border-right: 1px solid rgba(128,128,128,.2);
        border-bottom: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .list_card_details {
        padding: 0 15px 0 0;
        width: 65%;
        border-right: 1px solid rgba(128,128,128,.2);
        border-bottom: none;
    }
}

.list_card_details h3{
    margin-bottom: 10px;
    font-size: 18px;
}

.list_card_details h3 a{
    color: #b20135;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    transition: .2s all linear;
    text-decoration: none;
}

.list_card_description{
    color: #808080;
    font-size: 14px;
    line-height: 1.5;
}

.list_card_meta_wrap{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

@media (min-width: 768px){
    .list_card_meta_wrap {
        justify-content: space-between;
    }
}

.list_card_meta_style{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-left: -7px;
    margin-right: -7px;
}

.list_card_meta{
    padding: 0 7px 14px 7px;
}

.meta_title{
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 1.5;
    display: block;
    color: #1a1a1a;
}

.meta_icon_wrapper{
    margin-left: -5px;
    margin-right: -5px;
}

.meta_icon_wrapper i{
    color: #b3b3b3;
    font-size: 24px;
    padding-left: 5ox;
    padding-right: 5px;
}

.meta_icon_wrapper .figure{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 5px;
    padding-right: 5px;
    color: #444;
}

.list_card_priceLabel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0 0 0;
}

@media (min-width: 1140px){
    .list_card_priceLabel {
        padding: 0 0 0 20px;
        width: 35%;
    }
}

@media (min-width: 1024px) and (max-width: 1139px) {
    .list_card_priceLabel {
        padding: 0 0 0 10px;
        width: 35%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .list_card_priceLabel {
        width: 35%;
        padding: 0 0 0 15px;
    }
}

.list_card_price .status{
    color: #1a1a1a;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    display: block;
}

.list_card_price .price{
    color: #b20135;
    font-size: 22px;
    line-height: 1.3;
}

.list_card_agent{
    font-size: 13px;
}

.list_card_agent .agent{
    color: #1a1a1a;
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin-top: 5px;
}

.list_card_agent .agent a{
    color: #1a1a1a;
    text-decoration: none;
}

.list_card_agent .agent a:hover{
    color: #b20135;
    text-decoration: none;
}

.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

@media (min-width: 480px){
    .pagination {
        margin: 20px 0;
    }
}

.pagination .current{
    background: #b20135;
    color: #fff;
}

.pagination .pagination_btn{
    transition: .2s all linear;
}

.pagination a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: gray;
    background: #fff;
    border-radius: 5000rem;
    width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 20px #dddddd;
    text-decoration: none;
}


.page_sidebar{
    width: 100%;
    margin: 30px 0 0;
    padding: 0;
}

@media (min-width: 1280px){
    .page_sidebar {
        width: 30%;
        margin-top: 0;
        padding-bottom: 80px;
    }
}

@media (min-width: 1024px) and (min-width: 1279px){
    .page_sidebar {
        width: 27%;
        margin-top: 0;
        padding-bottom: 80px;
    }
}

.sidebar{
    text-align: left;
}

.widget{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;
}

.clearfix:before .clearfix::after{
    display: table;
    content: "";
    line-height: 0;
}

.widget .title{
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 20px 0;
    text-align: left;
    color: #444;
}

.agents_list_widget .agent_list_item{
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px #dddddd;
}

.agents_list_widget .agent_picture{
    float: left;
    width: 90px;
    height: 90px;
    margin: 0 18px 0 0;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
}

.agent_picture img{
    border-radius: 100%;
    max-width: 100%;
    height: 90px;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.agent_widget_content{
    word-wrap: break-word;
    width: 100%;
}

.agent_name{
    margin-top: 14px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

.agent_widget_content a:hover{
    text-decoration: none;
    color: #1a1a1a;
}

.agent_name a{
    font-size: inherit;
    color: #444;
    text-decoration: none;
}

.agent_email{
    display: block;
    margin-bottom: 4px;
    color: #444;
}

.agent_number a{
    color: #1a1a1a;
    text-decoration: none;
}

.sort_controls select{
    display: block;
    font-size: 14px;
    padding: 15px 10px;
    transition: .2s all linear;
    border: 1px solid rgba(128, 128, 128, .2);
    color: gray;
}


.title{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
    color: #b20135;
}

.featured_card{
    z-index: 9;
    margin: 0;

}

.featured_card_wrap{
    box-shadow: 0 0 20px #dddddd;
}

.featured_card_block{
    display: block;
    width: 100%;
    padding: 0;
    margin: 20px 0 40px 0;
}

@media(min-width: 768px){
    .featured_card_block{
        width: 100%;
        margin: 20px 0 40px 0;
    }
}

@media(min-width: 320px) and (max-width: 767px){
    .featured_card_block{
        width: 100%;
        padding: 0;
        margin: 20px 0;
    }
}

.featured_card .featured_card_figure{
    position: relative;
    margin: 0;
}

.featured_card .featured_card_figure .featured_card_picture{
    display: block;
}

.featured_card .featured_card_figure a{
    display: flex;
}

.featured_card .featured_card_figure img{
    width: 100%;
    height: 100%;
    transition: .2s transform linear;
}

.featured_card .featured_card_details{
    background-color: #ffffff;
    background: #fff;
    display: block;
    width: 100%;
    padding: 20px;
    text-align: left;
}

.featured_card_details h3{
    margin-bottom: 15px;
}

.featured_card .featured_card_details a{
    color: #b20135;
    font-size: 20px;
}

@media(min-width: 480px){
    .featured_card .featured_card_details{
        padding: 25px;
    }
}

.featured_card .featured_card_details .featured_card_description{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #808080;
}

.featured_card .featured_card_details .featured_card_features_wrap{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.featured_card .featured_card_details .featured_card_feature{
    padding: 0 15px 15px 0;
}

.features_title{
    font-size: 13px;
    color: #1a1a1a;
}

.featured_card_feature i{
    color: #808080;
}

.text_feature{
    color: #444;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
}

.text_add{
    color: #808080;
    padding-left: 3px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
}

.featured_card .featured_card_details .featured_card_priceLabel .status{
    color: #1a1a1a;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
    line-height: 1.2;
    display: block;
}

.featured_card .featured_card_details .featured_card_priceLabel .price{
    color: #b20135;
    font-size: 22px;
    margin-bottom: 0;
}

.ordinamento{
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    background: #b20135;
    width: 200px;
    color: #FFFFFF;
}


.ordinamento_button{
    border: none;
    background: #b20135;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 10px;
}
.ordinamento_button:focus{
    border: none;
    text-decoration: none;
}

.ordinamento a{
    height: 40px;
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.ordinamento a:hover{
    text-decoration: none;
    color: #FFFFFF;
}