/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #b20135;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #9c0130;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #9c0130;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #9c0130;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #b20135;
}
.sidebar li a{
  display: flex;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #b20135;
}
.sidebar li a:hover{
  background: #FFF;
}

.sidebar li .profile a:hover{
  background: #FFF;
}

.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #b20135;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #9c0130;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar li.profile a{
  text-decoration: none;
}

.sidebar li.profile a:hover{
  text-decoration: none;
}

.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #9c0130;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #f7f7f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}


.div_addProperty_page{
  position: relative;
  width: 100%;

}

@media (min-width: 1024px) {
  .div_addProperty_page{
    padding: 70px 50px 70px 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .div_addProperty_page{
    padding: 50px 30px 50px 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .div_addProperty_page{
    padding: 30px 0px 30px 00px;
  }
}

.addProperty_page_head{
  margin-bottom: 20px;
}

.addProperty_head_title{
  width: 100%;
  text-align: center;
}

.addProperty_head_title .head_title{
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #b20135;
}

.addProperty_page_content{
  position: relative;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 20px #dddddd;
  border-radius: 4px;
}

.form_addProperty{
  display: flex;
  flex-wrap: wrap;
}

.addProperty_tab{
  text-align: left;
  display: flex;
  padding: 20px 20px 0px 20px;
  width: 100%;
}

.tab_title{
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #b20135;
}

.addProperty_content{
  padding: 20px 0;
  width: 100%;
  display: block;

}

.form_content_fields{
  position: relative;
  padding: 20px;
}

.content_fields_row{
  display: block;
}

.property_title{
  margin-bottom: 50px;
}

.property_address{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content_fields_column{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.full_size{
  width: 100%;
}

.half_size{
  width: 100%;
}

@media (min-width: 768px){
  .half_size{
    width: 48%;
  }
}

.label_property_title{
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 8px;
  color: #333333;
}

.label_user_title{
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 8px;
  color: #333333;
}

.content_fields_column input{
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding: 11px 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  border: 1px solid transparent;
  transition: border .3s ease-in-out;
  background-color: #fff;
  color: #333333;
  box-shadow: 0 0 20px #dddddd;
  border-radius: 4px;
}

.property_description{
  margin-bottom: 50px;
}

.content_fields_column textarea{
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding: 11px 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  border: 1px solid transparent;
  transition: border .3s ease-in-out;
  background-color: #fff;
  color: #333333;
  box-shadow: 0 0 20px #dddddd;
  border-radius: 4px;
}

.property_features{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content_fields_column select{
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding: 11px 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  border: 1px solid transparent;
  transition: border .3s ease-in-out;
  background-color: #fff;
  color: #333333;
  box-shadow: 0 0 20px #dddddd;
  border-radius: 4px;
}


.property_multimedia{
  margin-bottom: 50px;
}

.drag_drop_container{
  padding: 20px 15px;
  text-align: center;
  border: 2px dashed #d8d9d9;
  position: relative;
  margin-bottom: 20px;
}

@media (min-width: 768px){
  .drag_drop_container{
    padding: 35px 15px 30px;
  }
}

.limit_right{
  color: #999;
  margin: 29px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
}

.drag_drop_container i{
  font-size:40px;
  color: #b3b3b3;
  margin-bottom: 20px;
}

.drag_drop_container strong{
  display: block;
  font-weight: 500;
  color: #444;
  margin-bottom: 20px;
}

.drag_drop_container .limit_right span{
  display: inline-block;
  margin-bottom: 20px;
  color: #999;
}

.drag_drop_container span{
  display: block;
  margin-bottom: 20px;
  color: #999;
}

.button_browse{
  position: relative;
  z-index: 1;
  cursor: pointer;
  background-color: #b20135;
  color: #fff;
  display: inline-block;
  padding: 13px 15px;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
  border: none;
  outline: 0;
  vertical-align: middle;
  user-select: none;
}

@media (max-width: 520px){
  .button_browse{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
    margin-bottom: 10px;
  }
}

.input_file{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.input_file input{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.gallery_image_container{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.div_button_submit{
  width: 100%;
  justify-content: end;
  text-align: right;
}

.div_button_submit input{
  position: relative;
  z-index: 1;
  cursor: pointer;
  background-color: #b20135;
  color: #fff;
  display: inline-block;
  padding: 13px 15px;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
  border: none;
  outline: 0;
}

.div_addUser_page{
  position: relative;
  width: 100%;

}

@media (min-width: 1024px) {
  .div_addUser_page{
    padding: 70px 50px 70px 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .div_addUser_page{
    padding: 50px 30px 50px 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .div_addUser_page{
    padding: 30px 0px 30px 00px;
  }
}

.addUser_page_head{
  margin-bottom: 20px;
}

.addUser_head_title{
  width: 100%;
  text-align: center;
}

.addUser_head_title .head_title{
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #b20135;
}

.addUser_page_content{
  position: relative;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 20px #dddddd;
  border-radius: 4px;
}

.form_addUser{
  display: flex;
  flex-wrap: wrap;
}

.addUser_tab{
  text-align: left;
  display: flex;
  padding: 20px 20px 0px 20px;
  width: 100%;
}

.addUser_content{
  padding: 20px 0;
  width: 100%;
  display: block;

}

.user_general{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}


.user_otherInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}


.container_gallery{
  margin: auto;
  height: 350px;
  width: 430px;
  position: relative;
  text-align: center;
}
.container_gallery .wrapper{
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper #preview{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.wrapper .icon{
  font-size: 100px;
  color: #b20135;
}
.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #b20135;
}
.wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #b20135;
  cursor: pointer;
  display: none;
}

.wrapper.active:hover #cancel-btn .fas{
  display: block;
}
.wrapper #cancel-btn .fas:hover{
  color: #e74c3c;
}
.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name{
  display: block;
}
.container_gallery #custom-btn {
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: #b20135;
}


.container-rimuovi {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  height: auto;
  overflow-y: auto;
}

.container-rimuovi .image {
  height: 200px;
  width: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  margin-bottom: 7px;
  margin-right: 7px;
}

.container-rimuovi .image:nth-child(4n) {
  margin-right: 0;
}

.container-rimuovi .image img {
  height: 100%;
  width: 100%;
}


.container-rimuovi .image span {
  position: absolute;
  top: -4px;
  right: 5px;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
}

.container-rimuovi .image span:hover {
  opacity: 0.8;
}