html{
  height: 0;
}

*:focus {
  outline: 0 !important;
}

body {
  height: 0;
  margin: 0;
  font-family: "Rubik",sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  background: #f7f7f7;
}


input{
  float: left;
}

.master{
  background: url(/src/main/webapp/images/sfondo.jpg) top / auto no-repeat;
  position: relative;
  width: 100%;
  color: #fff;
  min-height: 500px;
  background-size: cover;
}

@media (min-width: 1140px){
  .master{
    height: 70vh;
    min-height: 700px;
  }
}

.container-sfondo{
  width: auto;
  display: block;
  height: 100%;
}

.cfos_expand{
  max-width: 450px;
}

.cfos_wrap{
  display: block;
  width: 100%;
  position: absolute;
  background: #fff;
  bottom: 80px;
  right: 0;
}

@media (min-width: 1280px){
  .cfos_wrap{
    right: 10rem;
  }
}

@media (min-width: 1140px) and (max-width: 1279px){
  .cfos_wrap{
    right: 7rem;
  }
}

.cfos{
  padding: 30px;
  position: relative;
}

.cfos_label{
  margin-bottom: 20px;
}

.cfos .cfos_title{
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #808080;
}

.cfos .cfos_text{
  font-size: 15px;
  color: gray;
}

.cfos_contact_form{
  display: flex;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.cfos_contact_form .cfos_half{
  width: 50%;
}

.cfos .cfos_field_wrapper{
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.cfos .cfos_field{
  border: 1px solid #e5e5e5;
  height: 40px;
  padding: 0 10px;
  width: 100%;
  background-clip: padding-box;
  color: #444;
  font-size: 15px;
}

.cfos_contact_form .cfos_full{
  width: 100%;
}

.cfos .cfos_text_field{
  border: 1px solid #e5e5e5;
  box-shadow: none;
  padding: 10px;
  height: 80px;
  width: 100%;
  background-clip: padding-box;
  font-size: 15px;
}

.cfos_privacy{
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.cfos .checkbox_label{
  color: #1a1a1a;
  font-weight: 500;
}

.cfos_privacy .checkbox_label{
  display: block;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.cfos_privacy input{
  width: auto;
  margin: 4px 0 0;
  float: left;
}

.cfos .cfos_privacy label{
  font-weight: 400;
}

.cfos label{
  color: #444;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.cfos_privacy label{
  width: calc(100% - 25px);
  margin-left: 8px;
  margin-bottom: 0 !important;
  line-height: 1.4;
  float: right;
}

.cfos_button_wrapper{
  padding-left: 7.5px;
  padding-right: 7.5px;
  position: relative;
}

.cfos_submit{
  padding: 14px 20px;
  width: 100%;
  background: #b20135;
}

.btn_submit{
  display: inline-block;
  padding: 15px 20px;
  font-size: 15px;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: none;
  transition: all .2s ease-in-out;
  color: #fff;
}

.cfos_slide{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  position: relative;
  z-index: 9;
}

.wrapper_home_section{
  position: relative;
  z-index: 10;
  overflow: hidden;
}

@media (min-width: 1024px){
  .wrapper_home_section .diagonal_wrapper{
    padding-bottom: 150px;
  }
}


@media (min-width: 1280px){
  .wrapper_home_section{
    margin-top: -47.5px;
    padding-bottom: 150px;
  }
}

@media (min-width: 1140px) and (max-width: 1279px){
  .wrapper_home_section{
    margin-top: -40px;
    padding-bottom: 150px;
  }
}

@media (min-width: 1024px) and (max-width: 1139px){
  .wrapper_home_section{
    margin-top: -45px;
    padding-bottom: 150px;
  }
}

@media (min-width:320px) and (max-width: 1023px){
  .wrapper_home_section{
    margin-top: 0;
  }
}

.home_section{
  display: block;
  text-align: center;
}

.section_content{
  position: relative;
}

@media(min-width: 1280px){
  .section_content{
    padding-top: 100px;
    padding-bottom: 90px;
  }
}

@media (min-width:1140px) and (max-width: 1279px){
  .section_content{
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media (min-width:1024px) and (max-width: 1139px){
  .section_content{
    padding-bottom: 70px;
  }
}

@media (min-width:768px) and (max-width: 1023px){
  .section_content{
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

@media (min-width:320px) and (max-width: 767px){
  .section_content{
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.diagonal_mod{
  position: relative;
  z-index: 9;
  background: transparent !important;
}

.main_content{
  font-size: 15px;
  font-weight: inherit;
  line-height: 2;
  text-align: left;
  margin-bottom: 10px;
}

@media(min-width: 1280px){
  .section_content .main_content{
    padding: 0 100px 0 100px;
  }
}

@media (min-width:1140px) and (max-width: 1279px){
  .section_content .main_content{
    padding: 0 70px 0 70px;
  }
}

@media (min-width:768px) and (max-width: 1023px){
  .section_content .main_content{
    padding: 0 50px 0 50px;
  }
}

@media (min-width:480px) and (max-width: 767px){
  .section_content .main_content{
    padding: 0 30px 0 30px;
  }
}

@media (min-width:320px) and (max-width: 767px){
  .section_content .main_content{
    padding: 0 20px 0 20px;
  }
}

.section_principalProperties.section_principalProperties_stretched{
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0;
}

.section_principalProperties .title_container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1240px;
}

.title_row{
  display: flex;
  position: relative;
  width: 100%;
}

.title_wrap{
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;

}

.title_wrap .section_head{
  text-align: center;
  margin: 0;
  width: 100%;
}

.section_title{
  font-weight: 300;
  margin-top: 0;
  color: #1a1a1a;
  font-size: 36px;
  margin-bottom: 0;
  line-height: 1.5;
}

.section_description{
  margin-bottom: 20px;
  font-size: 15px;
  color: gray;
}

.section_properties_list{
  margin:0;
  padding: 0px 0px 140px 0px;
  position: relative;
}

.properties_list_container{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 1240px;
}

@media(min-width: 1023px) and (max-width:1139px){
  .wrap{
    margin-top: 70px;
  }
}

.properties_list_row{
  width: 100%;
  display: flex;
  position: relative;
}

.properties_list_wrap{
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.properties_pagination{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.property_style{
  width: 33.333%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  min-width: 423.33px;
}

.property_card_style{
  background: #fff;
  box-shadow: 0 0 20px #dddddd;
}

.property_picture_wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 220px;
}

.property_tags_bot{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
  display: flex;
  z-index: 9;
}

.agent_wrapper .agent_list{
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.agent_wrapper .agent_list .agent_image{
  width: 60px;
  height: 60px;
  display: inline;
  border: 3px solid #fff;
  border-radius: 50px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  transition: .2s all;
}

.agent_wrapper .agent_list .agent_image img{
  width: 100%;
  max-width: none;
  height: 100%;
  border: none;
  object-fit: cover;

}

.agent_wrapper .agent_list .agent_info{
  display: flex;
  flex-direction: column;
}

.agent_wrapper .agent_list .agent_info a{
  line-height: 1.3;
  transition: .2s all;
  color: #fff;
}

.agent_wrapper .agent_list .agent_title{
  display: block;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.agent_wrapper .agent_list .agent_agency{
  display: block;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.property_status{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.property_status_text{
  margin: 15px;
  color: #fff;
  background: #000;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  white-space: nowrap;
}

.property_picture{
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.property_picture img{
  transition: .5s all;
  transform: scale(1.1);
  width: 100%;
  max-width: none;
  height: 100%;
}

.property_detail_wrapper{
  padding: 30px;
}

.property_heading{
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 18px;
}

h3.property_heading a{
  display: inline-block;
  font-size: 19px;
  color: #1a1a1a;
  transition: all .2s;
  font-weight: 500;
  margin-bottom: 10px;
}

.property_added{
  margin-bottom: 10px;
  font-size: 13px;
  color: gray;
  display: flex;
  align-items: baseline;
  line-height: 18px;
  margin-left: -5px;
  margin-right: -5px;
}

.property_added span{
  line-height: 18px;
  color: #333;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.property_address{
  margin-bottom: 10px;
  line-height: 1.5;
}

.property_address a{
  display: inline-block;
  color: #b20135;
  text-decoration: underline;
  font-size: 14px;
}

.property_address .address{
  display: inline-block;
  vertical-align: text-top;
}

.property_features_wrap{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-left: -7px;
  margin-right: -7px;
}

.property_feature{
  padding: 0 7px 14px 7px;
}

.property_feature_wrap .property_feature .property_feature_title{
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #1a1a1a;
}

.property_feature_wrap .property_feature .feature_icon_wrapper{
  margin-left: -5px;
  margin-right: -5px;
}

.property_feature_wrap .property_feature i{
  fill: #b3b3b3;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 34px;
}

.property_feature_wrap .property_feature .figure{
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  padding-left: 5px;
  padding-right: 5px;
  color: #444;
}

.property_price_box .property_card_status{
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
  line-height: 1.2;
  display: block;
}

.property_price_box .property_card_price{
  font-size: 18px;
  color: #b20135;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
}

.pagination_wrapper{
  display: flex;
  justify-content: center;
  position: relative;
  align-content: center;
  width: 100%;
}

.pagination{
  z-index: 999999;
  text-align: center;
  padding-bottom: 20px;
}

.pagination a{
  margin: 10px;
}

.pagination a.current{
  background: #b20135;
  color: #fff;
}

.list_pagination .list_pagination_button{
  transition: .2s all linear;
}

.pagination a{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 1px 0 0;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  transition: .2s all linear;
  box-shadow: 0 0 20px #dddddd;
  background: #b20135;
  color: gray;
  padding: 10px;
}

.carousel-control-next, .carousel-control-prev{
  position: relative;
}

.homepage_sfondo{
  text-align: center;
  position: relative;
  padding: 230px 0 230px 0;
}

.homepage_sfondo .wrapper_homepage_sfondo{
  position: relative;
  z-index: 999;
}

.wrapper_content{
  max-width: 950px;
  margin: 0 auto;
}

.sfondo_title{
  margin-bottom: 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.sfondo_slogan{
  margin-bottom: 25px;
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}

.sfondo_choice_button{
  margin-left: -5px;
  margin-right: -5px;
}

.sfondo_choice_button a{
  text-decoration: none;
}

.button_valutatore{
  margin: 5px;
  display: inline-block;
  color: #ffffff;
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  border-width: 2px;
  background: #b20135;
  line-height: 18px;
}

.sfondo_choice_button a{
  margin-bottom: 5px;
  transition: all .2s ease-in-out;
  color: #fff;
}

.button_cerca{
  margin: 5px;
  display: inline-block;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  outline: 0;
  border-radius: 0;
  cursor: pointer;
  background: #b20135;
  line-height: 18px;
}

.section_agents_list{
  position: relative;
  width: 100%;
}

.agents_container{
  max-width: 1240px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.agents_row{
  display: flex;
  width: 100%;
  position: relative;
}

.agents_column_wrap{
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.agents_header{
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.agents_header_content{
  text-align: center;
  margin: 0 auto;
}

.agents_subtitle{
  display: block;
  color: #b20135;
  font-size: 15px;
  font-weight: 500;

}

.agents_title{
  font-weight: 300;
  margin-top: 0;
  color: #1a1a1a;
  font-size: 36px;
  margin-bottom: 0px;
  margin: 0 auto 20px;
  line-height: 1.5;
}

.agents_header_content h2{
  margin-bottom: 0px;
}

.agents_description{
  margin-bottom: 20px;
  font-size: 15px;
  color: gray;
}

.agents_list{
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.agents_list_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -15px;
  margin-right: -15px;
}

.agent_content{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 270px;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: none;

}

@media (max-width: 767px){
  .agent_content{
    width: 100%;
  }
}

@media (min-width: 768px) and(max-width: 1024px){
  .agent_content{
    width: 50%;
  }
}
@media (min-width: 1025px){
  .agent_content{
    width: 25%;
  }
}

.agent_content_wrap{
  display: block;
  text-align: center;
  background: #fff;
  position: relative;
  box-shadow: 0 0 20px #dddddd;
  color: gray;
}

.agent_content_picture{
  margin-top: -40px;
  display: inline-block;
  width: 128px;
  height: 128px;
  vertical-align: middle;
}

.agent_content_picture img{
  height: 128px;
  max-width: 100%;
  border: none;
  vertical-align: bottom;
  object-fit: cover;
}

.agent_content_details{
  display: block;
  padding: 25px 20px;
  text-align: center;
}

.agent_content_details h3{
  margin-bottom: 15px;
  line-height: 1.2;
}

.agent_content_details h3 a{
  font-weight: 500;
  font-size: 19px;
  transition: .2s all linear;
  color: #1a1a1a;
}

.agent_content_phone{
  line-height: 18px;
  color: #b20135;
  font-size: 15px;
  margin-bottom: 5px;
}

.agent_content_phone a{
  color: #b20135;
  transition: .2s all ease-in-out;
}

.agent_content_email{
  line-height: 18px;
  margin-bottom: 20px;
  font-weight: 400;
  transition: .2s all linear;
  display: inline-block;
  color: #1a1a1a;
  font-size: 15px;
}

.agent_listed .figure{
  line-height: 18px;
  font-size: 24px;
  color: #b20135;
  margin-bottom: 5px;
}

.agent_listed .heading{
  font-weight: 500;
  line-height: 2;
  font-size: 13px;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.slick-slide{
  height: auto !important;
}

#wrapper{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #000000;

}

#loader{
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-color: crimson;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  20% {
    border-color: purple;
    border-top-color: transparent;
  }
  60% {
    border-color: orangered;
    border-top-color: transparent;
  }
  100%{
    transform: rotate(360deg);
  }
}