/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #b20135;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #9c0130;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #9c0130;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #9c0130;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #b20135;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #b20135;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #b20135;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #9c0130;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #9c0130;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #f7f7f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}


.div_user_list{
  position: relative;
  width: 100%;
    padding: 50px 20px 50px;
}

@media (min-width: 768px) {
  .div_user_list{
    padding: 50px 20px 50px;
  }
}

.user_list_page_head{
    margin-bottom: 20px;
}

.user_list_page_title{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #b20135;
}

.dashboard_users{
    background-color: #fff;
}

.dashboard_users_list{
    width: 100%;
    margin: 0;
    word-wrap: break-word;
    background-color: #fff;
}

.dashboard_users_list_head{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 992px) {
    .dashboard_users_list_head{
      padding-top: 8px;
      padding-bottom: 8px;
    }
}

.large_column_wrap{
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1600px) {
    .large_column_wrap{
        flex: 0 0 625px;
    }
}

@media (min-width: 768px) and (max-width: 1599px){
    .large_column_wrap{
        flex: 0 0 525px;
    }
}


.dashboard_users_list .column{
    padding: 10px;
}

.dashboard_users_list_head .column{
    display: none;
}

@media (min-width: 992px) {
    .dashboard_users_list_head .column{
        display: block;
    }
}

@media (min-width: 768px){
    .dashboard_users_list .column_picture{
        flex: 0 0 206px;
    }
}

.dashboard_users_list_head span{
    font-size: 15px;
    line-height: 1;
}

.dashboard_users_list .column_info{
    flex: 1 0;
}

.small_column_wrap{
    flex: 1 0;
    display: flex;
    flex-wrap: wrap;
}

.small_column_wrap .column{
    flex: 1 0 100%;
}

@media (min-width: 992px) {
    .small_column_wrap .column{
        flex: 1;
    }
}

.dashboard_users_list .column_username{
    display: none;
}

@media (min-width: 1366px) {
    .dashboard_users_list .column_username{
        display: block;
    }
}

.user_column_wrap{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 8px 10px;
    border-bottom: 1px solid #e5e5e5;
}

.dashboard_users_list figure{
    position: relative;
    margin: 0;
    padding: 0;
}

.dashboard_users_list img{
    max-width: 100%;
    height: auto;
}


.user_info_wrap .user_title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

@media(min-width: 992px){
    .user_info_wrap .user_title{
        margin-top: 8px;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .user_info_wrap .user_title{
        max-width: 260px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.user_info_wrap a{
    transition: color .3s ease-in-out;
    color: inherit;
}

.user_info_wrap a:hover{
    color: #b20135;
}

.user_info_wrap .user_description{

    font-size: 14px;
    color: #999;
}

.user_info_wrap p{
  margin-bottom: 0;
}

.user_info_wrap .user_meta{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}


@media(min-width: 768px){
    .user_info_wrap .user_meta{
        padding-top: 17px;
    }
}

.user_info_wrap .user_meta li{
    margin-right: 10px;
    padding-top: 15px;
}

@media(min-width: 768px){
    .user_info_wrap .user_meta li{
        margin-right: 20px;
    }
}

.user_info_wrap .user_meta_label{
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.user_info_wrap .user_meta_icon{
    display: flex;
    align-items: center;
}

.user_meta_icon .icon{
    color: #333333;
    font-size: 24px;
}

.user_meta_icon .figure{
    font-size: 14px;
    font-weight: 500;
    padding-left: 14px;
    color: #333333;
}

.dashboard_users_list .user_username{
    display: block;
    font-size: 16px;
    color: #333333;
    width: auto;
}

@media(min-width: 992px){
    .dashboard_users_list .user_username{
        padding-top: 10px;
    }
}

.dashboard_users_list .user_email{
    display: block;
    font-size: 16px;
    color: #333333;
}

@media(min-width: 992px){
    .dashboard_users_list .user_email{
        padding-top: 10px;
    }
}

.dashboard_users_list .user_role{
    display: block;
    font-size: 16px;
    color: #b20135;
}

@media(min-width: 992px){
    .dashboard_users_list .user_role{
        padding-top: 10px;
    }
}

.dashboard_users_list .user_actions{
  width: 100%;
}

@media(min-width: 992px){
  .dashboard_users_list .user_actions{
    position: relative;
    width: auto;
  }
}

@media(min-width: 992px){
  .dashboard_users_list .user_actions a{
    position: relative;
    width: auto;
    display: block;
  }
}

.user_actions a{
  display: inline-block;
  margin: 10px 10px 0;
  font-size: 14px;
  color: #333333;
  text-decoration: none;
}

.user_actions a:hover{
  color: #b20135;
  text-decoration: none;
}