body {
    min-height: 100%;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    background: #f7f7f7;
  }

.banner{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    width: 100%;
    position: relative;
}

.banner_cover{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.banner_wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 0 30px 30px;
    margin: 0 auto;
    max-width: 1440px;
}

@media (min-width: 1280px){
    .banner_wrap{
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 80px;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1140px) and (max-width: 1279px){
    .banner_wrap{
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 70px;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1024px) and (max-width: 1139px){
    .banner_wrap{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 70px;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .banner_wrap{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    .banner_wrap{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        flex-direction: row;
        align-items: center;
    }
}

.banner_title{
    color: #ffffff;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
}
.section_valutazione{
    display: block;
    text-align: center;
    position: relative;
    margin: 0 auto;
    min-height: 1000px;
    max-width: 1440px;
    padding: 0 20px;
}

@media (min-width: 1280px){
    .section_valutazione{
        padding-top: 60px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width: 1140px) and (max-width: 1279px){
    .section_valutazione{
        padding-top: 60px;
        padding-left: 70px;
        padding-right: 70px;
    }
}


@media (min-width: 768px) and (max-width: 1139px){
    .section_valutazione{
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    .section_valutazione{
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.div_page_valutazione{
    padding-bottom: 30px;
}

@media (min-width: 1024px){
    .div_page_valutazione{
        padding-bottom: 80px;
    }
}

.page_valutazione{
    background: #fff;
    box-shadow: 0 0 20px #dddddd;
}

.valutazione{
    display: flex;
    margin-bottom: 50px;
    padding-top: 50px;
}

@media (min-width: 1140px){
    .valutazione{
        margin-bottom: 0;
    }
}

.valutazione_wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 25px;
}

@media (min-width: 768px){
    .valutazione_wrap{
        padding: 0 30px 50px;
    }
}

.valutazione_heading{
    width: 100%;
    text-align: center;
}

.valutazione_quote{
    font-size: 20px;
    color: #808080;
    margin-bottom: 5px;
}


.valutazione_title{
    font-size: 34px;
    color:#b20135;;
}

.valutazione_subtitle{
    font-size: 20px;
    color: #808080;
    margin-bottom: 50px;
}

.div_valutazione_form{
    width: 100%;
    padding: 0 20px;
}

.section_valutazione_form{
    display: block;
}

.valutazione_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.half_size{
    width: 100%;
}

@media (min-width: 768px){
    .half_size{
        width: 48%;
    }
}

.valutazione_form_field{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #808080;
    font-size: 16px;

}

.valutazione_form_field input{
    display: block;
    font-size: 14px;
    padding: 15px 10px;
    margin-bottom: 15px;
    transition: .2s all linear;
    border: 1px solid rgba(128, 128, 128, .2);
    color: gray;
}

.valutazione_form_field select{
    display: block;
    font-size: 14px;
    padding: 15px 10px;
    margin-bottom: 15px;
    transition: .2s all linear;
    border: 1px solid rgba(128, 128, 128, .2);
    color: gray;
}


.form_piano{
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    text-align: left;
    color: #808080;
    font-size: 16px;
}

.form_piano .form_checkbox_label{
    display: block;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
    color: #1a1a1a;
}

.form_piano input{
    width: auto;
    margin: 4px 0 0;
    float: left;
}

.form_piano .choice{
    width: calc(100% - 25px);
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 0 !important;
    line-height: 1.4;
    color: inherit;
}

.choice_piano{
    width: 100%;
}


.form_features{
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    text-align: left;
    color: #808080;
    font-size: 16px;
}

.form_features input[type="checkbox"]{
    display: inline-block;
}

.form_features .form_checkbox_label{
    display: block;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
    color: #1a1a1a;
}

.form_features input{
    width: auto;
    margin: 4px 0 0;
    float: left;
}

.form_features .choice{
    width: calc(100% - 25px);
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 0 !important;
    line-height: 1.4;
    color: inherit;
}

.choice_features{
    width: 100%;
}

.full_size{
    width: 100%;
}

.valutazione_form_submit{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.submit_button{
    color: #ffffff;
    background: #b20135;
    display: inline-block;
    padding: 15px 20px;
    font-size: 15px;
    text-align: center;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all .2s ease-in-out;
}